<ion-header>
  <ion-toolbar>
    <ion-title>Adicionar conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="billForm" (submit)="createBill()">


    <ion-item>
      <ion-icon name="wallet" slot="start" color="if"></ion-icon>
      <ion-input formControlName="value" type="number" placeholder="Valor"></ion-input>
    </ion-item>


    <ion-item>
      <ion-icon name="person" slot="start" color="if"></ion-icon>
      <ion-input formControlName="partner" placeholder="Parceiro comercial" autofocus="true"></ion-input>
    </ion-item>


    <ion-item>
      <ion-icon name="document" slot="start" color="if"></ion-icon>
      <ion-input formControlName="description" placeholder="Descrição"></ion-input>
    </ion-item>


    <ion-item>
      <ion-icon name="calendar" slot="start" color="if"></ion-icon>
      <ion-input formControlName="date" type="date" placeholder="Data"></ion-input>
    </ion-item>

    
    <ion-radio-group  formControlName="type">

      <ion-item>
        <ion-label>A pagar</ion-label>
        <ion-radio slot="start" value="pay"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>A receber</ion-label>
        <ion-radio slot="start" value="recive"></ion-radio>
      </ion-item>

    </ion-radio-group>

    <br /><br />

    <ion-button [disabled]="billForm.invalid" type="submit" expand="block" color="if">Enviar</ion-button>
  </form>

</ion-content>


<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button  [routerLink]="['/bills']" fill="clear" color="medium" expand="block">Voltar</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>